<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\examsite" />
    <add key="DJANGO_SETTINGS_MODULE" value="examsite.settings" />
  </appSettings>
  <system.webServer>
    <handlers>
        <add name="Python FastCGI"
            path="*"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="c:\inetpub\wwwroot\examsite_venv\scripts\python.exe|c:\inetpub\wwwroot\examsite_venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>