{% extends 'jgbase.html' %}

{% block title %}CBT_AM_MAIN{% endblock %}
{% block css %}
{% endblock %}
{% load static %}
{% block main %}


<div class="row">
    <div class="col-md-4">
        <table class="table" >
            <thead><th>年</th><th>期</th><th>ボタン</th></thead>
            <tbody id="questionam">
            {% for q in q_list %}
            <tr>
                <td>{{ q.year }}</td>
                <td>{{ q.season }}</td>
                <td><a href="{% url 'jg:cbtam' %}?q_test={{ q.q_test }}&q_period={{ q.q_period }}"><button class="btn-primary">スタート</button></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% csrf_token %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'jg/js/cptammain.js' %}" charset="utf-8"></script>
{% endblock %}