{% extends 'jgbase.html' %}

{% block title %}CBT_PM_result{% endblock %}
{% block css %}
{% endblock %}
{% load static %}
{% block main %}

<div class="row" style="margin-top:20px">
<div class="col-md-6">
    <p>試験ID:<strong id="r_id">{{ a_dict.r_id }}</strong> 試験名:{{ a_dict.q_test }} 年度期:{{ a_dict.q_period }} 得点:{{ a_dict.g_total }} <a href="{% url 'jg:cbtpmmain' %}"><input type="button" value="戻る" style="margin-left:10px"></a><input type="button" value="削除" style="margin-left:10px" id=""btn_delete></p>
        <p>※は順不同</p>
        <table class="table table-condensed">
            {% for l in a_dict.list %}
            <tr style="background-color:yellow">
                <td colspan="7">
                    問{{ l.q_q }} 正解数:{{ l.total }} 問題数:{{ l.count }} 得点:{{ l.score }}
                    <a href="{% static 'jg/pdf/question_pm/' %}{{ l.pdf }}" target="_blank">問題</a>
                    <a href="{% static 'jg/pdf/question_pm/' %}{{ l.ans_pdf }}" target="_blank">解説</a>
                </td>
            {% for l2 in l.list %}
            {% if l2.correct == 1 %}
            <tr style="background-color:#ffcccc">
            {% else %}
            <tr style="background-color:#ccccff">
            {% endif %}
            <td>設問{{ l2.q_question }}</td>
            <td>{{ l2.q_symbol }}</td>
            <td>あなたの答え:{{ l2.u_answer }}</td>
            <td>正解:{{ l2.q_answer }}</td>

            {% if l2.correct == 1 %}
            <td>正</td>
            {% else %}
            <td>不</td>
            {% endif %}
            <td>配点:{{ l2.q_allocation }}</td>
            {% if l2.q_remarks == '1' %}
            <td>※</td>
            {% else %}
            <td></td>
            {% endif %}
            </tr>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>
</div>
</div>
{% csrf_token %}
{% endblock %}
