{% extends 'base.html' %}

{% load static %}
{% block title %}解答マークシートのアップロード{% endblock %}
{% block header %}解答アップロード{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-3">
        <p id="msg"> {{ message }} </p>
        <!--解答ファイルをアップロードするフォーム-->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Choose File<input type="file" style="display:none" name="file" multiple accept="image/jpeg">
                    </span>
                </label>

                <input type="text" class="form-control" readonly="">

            </div>

            <div class="form-group">
                <input type="submit" value="upload" class="btn btn-primary">
            </div>
        </form>
        <!--ファイル名一覧
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <select size="10" class="form-control" name="del">
                    {% for file in filelist %}
                    <option value="{{ file.image }}"> {{ file.image }},{{ file.t_id }},{{ file.u_id }} </option>
                    {% endfor %}
                </select>
                <input type="submit" value="delete" class="btn btn-primary">
            </div>

        </form>
        -->
    </div>
    <form method="POST">
        <div class="col-md-6">
            <input type="button" value="訂正" class="btn btn-primary" id="btn_upload" style="margin-top:10px;margin-bottom:10px;">
            <label for="t_id">t_id:<input type="text" id="t_id" value="{{ t_id }}"></label>
            <label for="u_id">u_id:<input type="text" id="u_id" value="{{ u_id }}"></label>
            <table id="answer_table">
                {% for al in answerlist %}
                <tr>
                    <td>{{ al.0 }}</td><td><input type="text" value="{{ al.1 }}"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </form>

</div>

<script type="text/javascript">

</script>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'exam/js/answerupload.js' %}"></script>
{% endblock %}