{% extends 'base.html' %}

{% block title %}メッセージページ{% endblock %}
{% block css %}
span.answer{background-color : black;
color : black;
padding-left:50px;
padding-right:50px;}
span.answer:hover{background-color : white;}
p.question { margin-top : 30px; }
h2 {font-size : 15pt;}
h3 {font-size :12pt;}
{% endblock %}
{% load static %}
{% block main %}
<h1>メインページ</h1>
<div class="row">
    <div class="col">
        <p>{{ u_id }}:{{ u_name }}<a href="{% url 'exam:passchange' %}">パスワードの変更</a></p>
    </div>
</div>
<div class="row">
    <div class="list-group">
        <a href="{% url 'jg:mainpage' %}" class="list-group-item list-group-item-action">情報処理技術者試験</a>
        <a href="{% url 'jk:questionjs' %}" class="list-group-item list-group-item-action">情報システム試験</a>
        <a href="#" class="list-group-item list-group-item-action">List #2</a>
        <a href="#" class="list-group-item list-group-item-action">List #3</a>
    </div>
</div>
{% csrf_token %}
{% endblock %}