{% extends 'base.html' %}

{% block title %}メッセージページ{% endblock %}
{% block css %}
span.answer{background-color : black;
color : black;
padding-left:50px;
padding-right:50px;}
span.answer:hover{background-color : white;}
p.question { margin-top : 30px; }
h2 {font-size : 15pt;}
h3 {font-size :12pt;}
{% endblock %}
{% load static %}
{% block main %}

<div class="row">
    <div class="col">
        <p>{{ u_id }}:{{ u_name }}<a href="{% url 'exam:passchange' %}">パスワードの変更</a></p>
    </div>
</div>
<h2>ユーザメニュー</h2>
<h3>過去問題集</h3>
<div class="row" style="margin-top:20px">
    <div class="col-md-3">
        <div class="form-group">
            <label for="period" style="font-size:9pt;">年度期</label>
            <select id="period" size="5" style="width:180px;height:150px;font-size:9pt" class="form-control">
                {% for p in period %}
                <option value="{{ p }}">{{ p }}</option>
                {% endfor %}
            </select>
            <label for="classify" style="font-size:9pt;">分野別</label>
            <select id="classify" size="5" style="width:180px;height:150px;font-size:9pt" class="form-control">
                {% for c in classify %}
                <option value="{{ c.m_id }}">{{ c.m_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-5">
        <p>過去問題</p>
        <div id="question"></div>
    </div>
</div>
{% csrf_token %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'exam/js/getquestion.js' %}" charset="utf-8"></script>
{% endblock %}