{% extends 'base.html' %}

{% block title %}メッセージページ{% endblock %}
{% block css %}
span.answer{background-color : black;
color : black;
padding-left:50px;
padding-right:50px;}
span.answer:hover{background-color : white;}
p.question { margin-top : 30px; }
h2 {font-size : 15pt;}
h3 {font-size :12pt;}
{% endblock %}
{% load static %}
{% block main %}

<div class="row">
    <div class="col">
        <p>{{ u_id }}:{{ u_name }}<a href="{% url 'exam:passchange' %}">パスワードの変更</a></p>
    </div>
</div>
<div class="row" style="margin-top:20px">
    <p><a href="{% url 'fesite:mainpage' %}">基本情報技術者試験対策</a></p>
</div>
{% csrf_token %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'exam/js/mainpage.js' %}" charset="utf-8"></script>
{% endblock %}