{% extends 'base.html' %}

{% block title %}パスワードの変更{% endblock %}
{% load static %}
{% block main %}
<div class="row">
    <div class="col-md-4">
        <p>{{ message }}</p>
        <form action="{% url 'exam:passchange_finish' %}" method="POST" id="p_form">
        {% csrf_token %}
            <div class="form-group">
                <label for="old_pass">古いパスワード：</label>
                <input type="password" class="form-control" id="old_pass" placeholder="古いパスワードの入力" name="old_pass">
                <label for="new_pass1">新しいパスワード</label>
                <input type="password" class="form-control" id="new_pass1" placeholder="Password" name="new_pass1">
                <label for="new_pass2">新しいパスワード</label>
                <input type="password" class="form-control" id="new_pass2" placeholder="もう一度入力してください。" name="new_pass2">

            </div>
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
        </form>

        <p>ユーザIDやパスワードを忘れた方は<a href="{% url 'exam:inquiry' %}">ここ</a>から</p>
        <p>変更せずに<a href="{% url 'exam:mainpage' %}">戻る</a></p>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'exam/js/passchange.js' %}" charset="utf-8"></script>
{% endblock %}