{% extends 'base.html' %}
{% load static %}

{% block addhead %}
<link rel="stylesheet" href="{% static 'exam/css/mtcss.css' %}">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <form class="form-inline">
                <div class="form-group">
                    <select class="form-control d-print-none" id="s_test">
                        <option></option>
                        {% for test in test_list %}
                            <option value="{{ test.t_id }}">{{ test.t_id }} : {{test.u_id}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>

        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col">
            <p id="t_id"></p>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col">   
            <table id="qtable" class="table table-condensed">
                
            </table>
            
        </div>
    </div>

    <div style="page-break-after: always;"></div>
    <div class="row" style="margin-top:10px;">
        <div class="col">
            <table id="qanswer" class="table table-condensed" style="width:80px;">
            </table>
        </div>
    </div>
{% csrf_token %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'exam/js/testdelete.js' %}"></script>
{% endblock %}