<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}base{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block addhead %}{% endblock %}
    <style type="text/css">
    nav {
        margin-bottom : 10px;
    }

    </style>
</head>
<body>
{% block body %}
<div class="container">
{% block container %}
    {% block nav %}
    {% if u_admin == 1 %}
    <div class="row">
        <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">国家試験対策</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navber1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'exam:mainpage' %}">メインページ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">管理者</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="{% url 'exam:addlicense' %}">ライセンスの追加</a>
                            <a class="dropdown-item" href="#">ユーザの有効期限を延長</a>
                            <a class="dropdown-item" href="{% url 'exam:userregistercsv' %}">ユーザの追加(csv)</a>
                            <a class="dropdown-item" href="{% url 'exam:userregisterweb' %}">ユーザの追加(web)</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">テスト</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="{% url 'exam:testmake' %}">テスト作成</a>
                            <a class="dropdown-item" href="{% url 'exam:testmakeperiod' %}">テスト作成(年度期)</a>
                            <a class="dropdown-item" href="{% url 'exam:testprint' %}">テスト印刷</a>
                            <a class="dropdown-item" href="{% url 'exam:answersheetprint' %}">解答用紙印刷</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">分析</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="{% url 'exam:analysis' %}">テストごと</a>
                            <a class="dropdown-item" href="{% url 'exam:a_bunya' %}">分野ごと</a>
                            <a class="dropdown-item" href="{% url 'exam:a_all' %}">全員分</a>
                        </div>

                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-link">
                        <a class="nav-link" href="{% url 'exam:logoff' %}">ログオフ</a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">国家試験対策</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navber">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'exam:mainpage' %}">メインページ</a>
                    </li>                 
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">テスト</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'exam:testprint' %}">テスト印刷</a>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-link">
                        <a class="nav-link" href="{% url 'exam:logoff' %}">ログオフ</a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
    </div>
    {% endif %}
    {% endblock %}
    {% block main %}
    {% endblock %}
    
{% endblock%}
</div>
{% endblock %}
{% block script %}
{% endblock %}

</body>
</html>